// COLORS
$color-black: #000;
$color-white: #fff;
$color-grey-light: #333;
$primary-color: #F7EB94;
$primary-color-light: #F7EFB2;
$primary-color-dark: #CEC47B;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;