.about-desc {
    &__img-box {

        @include respond(tablet-portrait) {
            text-align: center;
        }

        &--img {
            border-radius: 50rem;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            margin: 0 auto;
            opacity: 0;
            width: 100%;
        
            @include respond(tablet-portrait) {
                width: 65%;
            }
        }
    }

    &__text-box {
        margin-top: 6rem;

        @include respond(tablet-portrait) {
            margin-top: -2rem;
        }

        &--text {
            font-size: 1.6rem;

            &:not(:last-child) {
                padding-bottom: 1.5rem;
            }
        }
    }
}