.footer {
    background-color: $color-black;
    color: $color-white;
    padding: 6rem 0;

    @include respond(tablet-portrait) {
        text-align: center;
    }

    &__logo {
        padding-bottom: 1.5rem;
        text-align: center;

        &--link {
            &-img {
                border-radius: 50rem;
                background-color: $primary-color;
                transition: all .2s;
                width: 6%;

                @include respond(phone) {
                    width: 10%;
                }

                &:hover {
                    background-color: $color-white;
                }
            }
        }

        &--title {
            font-size: 1.8rem;
            padding-top: 1rem;
        }
    }

    &__title {
        font-size: 1.5rem;
    }

    &__navigation {
        border-top: 2px solid $primary-color;
        display: inline-block;
        padding-top: 1rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__link {
        color: $primary-color;
        font-size: 1.5rem;
        text-decoration: none;
        transition: all .2s;
        
        &:hover {
            color: $color-white;
        }
    }   

    &__text-box {
        border-top: 2px solid $primary-color;
        // display: inline-block;
        padding-top: 1rem;
        width: 80%;
        float: right;

        @include respond(tablet-portrait) {
            width: 100%;
            float: none;
            text-align: left;
        }
    }

    &__text {
        color: #777;
        font-size: 1.4rem;
        padding-bottom: .5rem;

        &--link {
            color: $primary-color;
            border-bottom: solid 2px $primary-color;
            text-decoration: none;
            transition: all .2s;

            &:hover {
                color: $color-white;
            }
        }
    }
}