.feature-box {

    &__boxes {
        text-align: center;
        background-color: $primary-color-light;
        color: $color-black;
        padding: 4rem 4rem; 
        border-radius: 3px;
        transition: all .3s;
        // opacity here
        opacity: 1;

        &:hover {
            transform: translateY(-.4rem);
        }

        &--title {
            font-size: 2.6rem;
        }

        &--icon {
            font-size: 5rem;
            padding: 3rem 0;
        }

        &--text {
            font-size: 1.6rem;
            text-align: left;
        }
    }
}