// Slideshow
.slides {
    // max-width: 760px;
    max-width: 100rem;
    margin: 0 auto;

    @include respond(tablet-mid) {
        // width: 100% !important;
    }

    &__heading {
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__current-video {
        opacity: 0;
        display: block;
        margin: 0 auto 1rem;
        width: 100% !important;
        height: 72vh !important;
        border: 1px solid transparent;

        @include respond(tablet-portrait) {
            height: 60vh !important;
        }

        @include respond(tablet-mid) {
            // width: 90% !important;
        }

        @include respond(phone) {
            height: 30vh !important;
        }
    }

    &__container {
        position: relative;
        margin: auto;
    }

    &__current {
        display: none;
    }

    &__thumbnails {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;

        @include respond(phone) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 3rem;
        }

        &--img {
            border: 2px solid transparent;
            border-radius: 3px;
            transition: all .3s;
            overflow: hidden;
            backface-visibility: hidden;
            width: 100%;
            display: block;

            @include respond(phone) {
                margin: 0 auto;
                width: 65%;
            }

            @include respond(smaller-phone) {
                margin: 0 auto;
                width: 70%;
            }

            &:hover {
                border: 2px solid $primary-color !important;
                cursor: pointer;
                transform: scale(1.01);
            }
        }
    }

    &__prev, &__next {
        background-color: rgba(0,0,0,0.8);
        border: 2px solid #EFE06E;
        border-radius: 0 3px 3px 0;
        color: white;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        padding: 16px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        transition: 0.6s ease;
        user-select: none;

        &:hover {
            background-color: #EFE06E;
            border: 2px solid #000;
            color: #000;
        }
    }

    &__next {
        border-radius: 3px 0 0 3px;
        right: 0;
    }

    &__dot-container {
        margin-top: 10px;
        text-align: center;

        @include respond(smaller-phone) {
            margin-top: 3rem;
        }
    }

    &__dot {
        background-color: rgb(133, 133, 133);
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 15px;
        width: 15px;
        transition: background-color 0.6s ease;

        &:not(:last-child) {
            margin-right: .5rem;
        }

        &:hover {
            background-color: #000;
            border: 2px solid #EFE06E;
        }
    }

    &__active {
        background-color: #000;
        border: 2px solid #EFE06E;
    }
}

// .active, .dot:hover {
//     background-color: #000;
//     border: 2px solid #EFE06E;
// }