section {
    // 6rem was third paramater
    padding: 8rem 0;
}

.music-video-section {
    background-color: #232323;
    // margin-top: -6rem;
    position: relative;
    z-index: 1;
}

.director-section {
    background-color: #f7f7f7;
}

.about-section {
    background-color: #fff;
}

.feature-section {
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, .3),
        rgba($color-black, .8)),
        url(../media/nyc-bg.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    // padding: 12rem 0;

    @include respond(tablet-portrait) {
        background-attachment: scroll;
    }
}

.contact-section {

    @include respond (tablet-portrait) {
        margin-top: -4rem;
    }
}