section { padding: 8rem 0; }

.music-video-section {
    background-color: #333;
    position: relative;
    z-index: 1;
}

.director-section { background-color: #f7f7f7; }

.about-section {
    background-color: #000;
    color: #fff;

    @include respond(tablet-portrait) {
        background-attachment: scroll;
    }   
}

.feature-section {
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, .3),
        rgba($color-black, .8)),
        url(../media/nyc-bg.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;

    @include respond(tablet-portrait) {
        background-attachment: scroll;
    }
}

.booking-section {
    background-color: #333;
}

.media-section {
    background-color:#333;
    padding: 0 0 6rem;
}